.popup__button {
	width: 100px;
	height: 100px;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
	border: none;
	transition: visibility 0s, background 0.3s;
	margin: 10px auto;
	background-image: url(../../../images/free-icon-check-mark-63144.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.popup__button:hover {
	cursor: pointer;
	background-color: #494b68;
	/* transform: skew(-20deg); */
	width: 120px;
	height: 120px;
}
