@import "./fonts.scss";
@import "./variables.scss";
@import "./blocks/body.scss";
@import "./blocks/slider-maxi/slider-maxi.scss";
@import "./visually-hidden.scss";
@import "./blocks/description/description.scss";
@import "./slider-mini/slider-mini.scss";
@import "./movicCard/movicCard.scss";
@import "./blocks/catalogue/catalogue.scss";
@import "./blocks/header/header.scss";
@import "./blocks/footer/footer.scss";

@import "./signin/signin.scss";
@import "./signup/signup.scss";

@import "./blocks/photo/photo.scss";
@import "./blocks/button/button.scss";