//начало слайдера mini
.variety-films-main {
    color: $font-color;
    background-color: $bgr-color;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1420px;
        padding: 0px 30px;
        text-align: center;
    }

    &__head {
        margin: 120px 0px 30px 0px;
        padding-left: 100px;
        font: 400 48px/72px 'Raleway';
    }

    &__text {
        padding-left: 100px;
        font: 400 36px/50px 'Raleway';
    }
}

.slider-mini {
    position: relative;

    &__container {
    max-width: 80%;
    margin: 20px auto;
    padding: 57px 0px 116px 0px;
    background: $bgr-color;
    overflow: hidden;
    }
    &__slider-line {
        display: flex;
        left: 0;
        transition: all ease 1s;
    }

    &__img {
        max-height: 263px;
        max-width: 243px;
        padding: 0px 10px;
    }

    &__btn-prev,
    &__btn-next {
        position: absolute;
        top: 40%;
        z-index: 2;
        width: 40px;
        height: 40px;
        border: 0;
    }

    &__btn-prev {
        left: 50px;
        background: $bgr-color url('../images/slider-mini/icons/prev-button.svg') no-repeat center;
    }

    &__btn-next {
        right: 50px;
        background: $bgr-color url('../images/slider-mini/icons/next-button.svg') no-repeat center;
    }
}

.collections-of-films {
    padding-left: 56px;
    color: $font-color;
    background-color: $bgr-color;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1420px;
        padding: 0px 30px;
        text-align: center;
    }

    &__head {
        margin: 120px 0px 30px 0px;
        font: 400 48px/72px 'Raleway';
    }

    &__text {
        font: 400 36px/50px 'Raleway';
    }
}

.collections-of-films {
    &__wrapper {
        align-items: flex-start;
        text-align: start;
    }

    &__head {
        margin: 62px 0px 183px 0px;
    }
}

.slider-mini-collections {
    position: relative;

    &__container {
    max-width: 80%;
    margin: 20px auto;
    padding: 57px 0px 116px 0px;
    background: $bgr-color;
    overflow: hidden;
    }
    &__slider-line {
        display: flex;
        left: 0;
        transition: all ease 1s;
    }

    &__img {
        max-height: 263px;
        max-width: 243px;
        padding: 0px 10px;
    }

    &__btn-prev,
    &__btn-next {
        position: absolute;
        top: 73%;
        z-index: 2;
        width: 40px;
        height: 40px;
        border: 0;
    }

    &__btn-prev {
        left: 90px;
        background: $bgr-color url('../images/slider-mini/icons/prev-button.svg') no-repeat center;
    }

    &__btn-next {
        right: 50px;
        background: $bgr-color url('../images/slider-mini/icons/next-button.svg') no-repeat center;
    }
}

.slider-mini-series {
    position: relative;

    &__container {
    max-width: 80%;
    margin: 20px auto;
    padding: 57px 0px 116px 0px;
    background: $bgr-color;
    overflow: hidden;
    }
    &__slider-line {
        display: flex;
        left: 0;
        transition: all ease 1s;
    }

    &__img {
        max-height: 263px;
        max-width: 243px;
        padding: 0px 10px;
    }

    &__btn-prev,
    &__btn-next {
        position: absolute;
        top: 236%;
        z-index: 2;
        width: 40px;
        height: 40px;
        border: 0;
    }

    &__btn-prev {
        left: 90px;
        background: $bgr-color url('../images/slider-mini/icons/prev-button.svg') no-repeat center;
    }

    &__btn-next {
        right: 50px;
        background: $bgr-color url('../images/slider-mini/icons/next-button.svg') no-repeat center;
    }
}

.genres__head {
    padding-left: 56px;
}

.genres__block {
    display: flex;
    gap: 198px;
    margin: 50px 0px 114px 56px;
    font: 700 20px/50px 'Raleway';
    text-decoration: none;
}

.genres__block a {
    padding-bottom: 24px;
    color: $font-color;
    text-decoration: none;
}

.genres__block p {
    padding-bottom: 24px;
}

//конец слайдера mini

// стили для карточек фильма из апи
.movie-result-popular,
.movie-result-popularTV {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.movie-card-popular {
    width: 240px;
    margin: 20px;
    position: relative;    
}

.movie-card__img-popular {
    position: relative;
    height: 360px;
}

.movie-card__img-popular-container {
    max-width: 100%;
    height: 100%;
}

.movie-card__info {
    display: flex;
    justify-content: center;
    padding: 20px;
    font: 600 24px/40px 'Raleway';
    text-align: center;
}
