.signin {
    height: 961px;
}

.main-signin__page {
    width: 1392px;
}

.main-signin__subtitle_signin {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;   
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin-top: 120px;
}

.main-signin__title_signin {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 60px;
    bottom: -180.56%;    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;  
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin-top: 150px;
}

.section-signin__signin {
    margin-top: 417px;
}
.h1 {
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
}
.form-signin {
    margin: 0 auto;
    background: white;
    color: black;
    width: 622px;
    height: 373px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 6px;
}
.group {
    margin: 10px;
    padding: 5px;
}
label {
    padding-left: 10px;
    text-transform: uppercase;
}
.input {
    margin-top: 10px;
    height: 40px;
    width: 400px;
    border-radius: 6px/6px;
    margin: 0 auto;
    display: block;
}
.input:focus {
    border: 2px solid black;
    transform: translateX(15px);
    width: 385px;
}
.btn {
    cursor: pointer;
    padding: 10px 30px;
    height: 50px;
    color: white;
    background: #494B68;
    border: none;
    text-transform: uppercase;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
    margin: 0 auto;
    display: block;
    width: 130px;
    height: 40px;
    border-radius: 6px;
}
.btn:hover {
    opacity: .80;
    font-weight: bold;
    transform: scale(1.1);
}